In [1]:
import pandas as pd
import json as js
from datetime import datetime

In [3]:
with open("fotmobSeason2010_2011.json") as fm:
    data = js.load(fm)
type(data)

dict

In [4]:
data.keys()

dict_keys(['tabs', 'allAvailableSeasons', 'details', 'seostr', 'QAData', 'table', 'transfers', 'news', 'overview', 'stats', 'matches', 'playoff'])

In [91]:
details = []
for i in data['details'].keys():
    new = data['details'][i]
    details.append(f'{i}\n{new}\n')

In [93]:
detail = []
for i in details:
    detail.append(i.splitlines())

In [94]:
dd = pd.DataFrame(detail)

In [96]:
dd.to_csv("details.csv")

In [177]:
tables = []
t = []
rr = []
for i in data['table'][0].keys():
    inf = data['table'][0][i]
    for i in inf['table'].keys():
        morInf = inf['table'][i]
        for i in morInf:
            tables.append(i.items())
            t.append(i.keys())
            rr.append(i)

KeyError: 'table'

In [ ]:
rr = []
for i in data['matches'].keys():
    inf = data['matches'][i]
    dataa = data['matches']['allMatches']
    for i in dataa:
        pageUrl = i['pageUrl']
        id = i['id']
        rr.append({
            'id': id,
            'pageUrl': pageUrl,
        })
        homeName = i['home']
        for i in homeName.keys():
            inf = homeName[i]
            rr[-1][i] = inf

df = pd.DataFrame(rr)
print(df)

In [175]:
gd = pd.DataFrame(t)

In [176]:
gd

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,name,shortName,id,pageUrl,deduction,ongoing,played,wins,draws,losses,scoresStr,goalConDiff,pts,idx,qualColor
1,name,shortName,id,pageUrl,deduction,ongoing,played,wins,draws,losses,scoresStr,goalConDiff,pts,idx,qualColor
2,name,shortName,id,pageUrl,deduction,ongoing,played,wins,draws,losses,scoresStr,goalConDiff,pts,idx,qualColor
3,name,shortName,id,pageUrl,deduction,ongoing,played,wins,draws,losses,scoresStr,goalConDiff,pts,idx,qualColor
4,name,shortName,id,pageUrl,deduction,ongoing,played,wins,draws,losses,scoresStr,goalConDiff,pts,idx,qualColor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,name,shortName,featuredInMatch,id,pageUrl,played,wins,draws,losses,scoresStr,goalConDiff,pts,ongoing,idx,qualColor
76,name,shortName,featuredInMatch,id,pageUrl,played,wins,draws,losses,scoresStr,goalConDiff,pts,ongoing,idx,qualColor
77,name,shortName,featuredInMatch,id,pageUrl,played,wins,draws,losses,scoresStr,goalConDiff,pts,ongoing,idx,qualColor
78,name,shortName,featuredInMatch,id,pageUrl,played,wins,draws,losses,scoresStr,goalConDiff,pts,ongoing,idx,qualColor
79,name,shortName,featuredInMatch,id,pageUrl,played,wins,draws,losses,scoresStr,goalConDiff,pts,ongoing,idx,qualColor

In [178]:
ew  = pd.DataFrame(rr)

In [181]:
ew

,name,shortName,id,pageUrl,deduction,ongoing,played,wins,draws,losses,scoresStr,goalConDiff,pts,idx,qualColor,featuredInMatch
0,Manchester United,Man United,10260,/teams/10260/overview/manchester-united,NaN,None,38,23,11,4,78-37,41,80,1,#2AD572,NaN
1,Chelsea,Chelsea,8455,/teams/8455/overview/chelsea,NaN,None,38,21,8,9,69-33,36,71,2,#2AD572,NaN
2,Manchester City,Man City,8456,/teams/8456/overview/manchester-city,NaN,None,38,21,8,9,60-33,27,71,3,#2AD572,NaN
3,Arsenal,Arsenal,9825,/teams/9825/overview/arsenal,NaN,None,38,19,11,8,72-43,29,68,4,#FFD908,NaN
4,Tottenham Hotspur,Tottenham,8586,/teams/8586/overview/tottenham-hotspur,NaN,None,38,16,14,8,55-46,9,62,5,#0046A7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Newcastle United,Newcastle,10261,/teams/10261/overview/newcastle-united,NaN,None,5,1,3,1,8-10,-2,6,16,None,False
76,Arsenal,Arsenal,9825,/teams/9825/overview/arsenal,NaN,None,5,1,1,3,6-9,-3,4,17,None,False
77,West Ham United,West Ham,8654,/teams/8654/overview/west-ham-united,NaN,None,5,0,1,4,4-12,-8,1,18,#FF4646,False
78,Birmingham City,Birmingham,8658,/teams/8658/overview/birmingham-city,NaN,None,5,0,1,4,3-12,-9,1,19,#FF4646,False
79,Bolton Wanderers,Bolton,8559,/teams/8559/overview/bolton-wanderers,NaN,None,5,0,0,5,4-12,-8,0,20,#FF4646,False

In [183]:
dr =  pd.DataFrame(ew)

In [185]:
dr.to_csv("allKe.csv")